In [8]:
import pandas as pd

In [20]:
# load csv 
heart_disease_data = pd.read_csv("./heart.csv")
heart_disease_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [22]:
training_data = heart_disease_data.drop(["target"], axis=1)
training_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [35]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(training_data, heart_disease_data.target, test_size=0.3, random_state=109)

X_train.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
175,40,1,0,110,167,0,0,114,1,2.0,1,0,3
52,62,1,2,130,231,0,1,146,0,1.8,1,3,3
254,59,1,3,160,273,0,0,125,0,0.0,2,0,2
203,68,1,2,180,274,1,0,150,1,1.6,1,0,3
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2

In [40]:
from sklearn import svm

#create svm classifier
classifier = svm.SVC(kernel='linear')

#train classifier with training data
classifier.fit(X_train, y_train)

#predict
y_pred = classifier.predict(X_test)

y_pred

array([1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0,
       0, 0, 1])

In [ ]:
from sklearn import metrics

print('Accuracy ')